.personajes {
    text-align: center;
    padding: 40px;
    background: #111;
    color: white;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background: #e20505;
    border-radius: 15px;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card h3 {
    margin: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255,0,0,0.6);
  }