body {
    background: radial-gradient(circle, #ff0000, #000);
    color: white;
    margin: 0;
    text-align: center;
}


@keyframes subirSuave {
  from {opacity: 0; transform: translateY(40px);}
  to   {opacity: 1; transform: translateY(0);}
}
.card {animation: subirSuave 0.9s;}


nav, .dropdown-content {
  background: black;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
}
nav a, .dropbtn, .dropdown-content a {
  color: yellow;
  background: red;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s, color 0.3s;
  display: inline-block;
}
nav a:hover, .dropbtn:hover, .dropdown-content a:hover {
  background: yellow;
  color: red;
  transform: rotate(-5deg) scale(1.2);
}


nav a, .dropdown-content {
  box-shadow: 0 0 10px red, 0 0 20px yellow;
}
nav a:hover {box-shadow: 0 0 20px yellow, 0 0 30px red;}


.dropdown {position: relative;}
.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  min-width: 160px;
  padding: 10px;
  z-index: 1;
}
.dropdown-content a {margin: 5px 0;}
.dropdown:hover .dropdown-content {display: flex;}


footer p {
  color:rgb(141, 112, 112);
  text-align: center;
}
.social-icons a {
  margin: 0 5px;
  font-size: 20px;
  color: #fff;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #f00;
  transform: scale(1.2);
}


  
/*sobre nosotras,estilo de los logos*/

  .marvel {
  color: #e62429;  
  font-weight: 900;
}

.logo-marvel {
  max-height: 150px;
}
.avengers-logo {
  max-height: 150px;
}

/* estilo de la parte index amiga*/
.heroes {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  text-align: center;       
  min-height: 100vh;        
  padding: 0 20px;  
  background: radial-gradient(circle, #ff0000, #000); 
}

/* Para pantallas grandes */
body {
  font-size: 18px;
}

/* Para tablets */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Para celulares */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap; /* permite que los elementos bajen a la siguiente línea */
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.container {
  width: 90%;   /* se ajusta al tamaño de la pantalla */
  margin: 0 auto; /* centra horizontalmente */
}
