
.trivia {
    margin: 40px auto;
    max-width: 400px;
    background: black;
    padding: 20px;
    border: 3px solid yellow;
    border-radius: 10px;
    text-align: left;
}
.trivia h2 {
    text-align: center;
}
.trivia label {
    display: block;
    background: red;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
.respuesta {
    display: none;
    padding: 10px;
    background: yellow;
    color: black;
    margin-top: 5px;
    border-radius: 5px;
}
input[type="checkbox"]:checked + .respuesta {
    display: block;
}
